.news{
    color: white;
    display: inline-block;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
}

.newsContainer{
    width: 100%;
    overflow: hidden;
    background-color: red; /* Hintergrundfarbe für das gesamte Band */
    padding: var(--xs);
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
}

@keyframes ticker {
    0% {
        transform: translateX(450%);
    }
    100% {
        transform: translateX(-100%);
    }
}



.pageGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: 
    "greeting greeting greeting"
    "zwei eins eins"
    "vier vier drei"
    "sechs fünf fünf"
    ;

    div{
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.product1{
    height: 80vh;
    grid-area: eins;
    overflow: hidden;  
    z-index: 0;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: product1 10s ease both;
    }
}

 @keyframes product1 {
    0% {
      transform: scale(1) translate(0, 0);
      transform-origin: 84% 84%;
    }
    100% {
      transform: scale(1.1) translate(20px, 15px);
      transform-origin: right bottom;
    }
  }

.text1{
    grid-area: zwei;
    display: flex;
    flex-direction: column;
}

.greeting{
    /*TODO*/
    grid-area: greeting;
    background-color: white;
    display: flex;
    flex-direction: row;
    img{
        width: 35%;
        display: block;
    }
    
    hr {
        border: none;
        height: 1%;
        background-color: var(--beigegelb);
        width: 10%;
        transform: rotate(90deg);
      }

      .welcomeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1{
            padding: var(--s);
        }
      }
      
}

.text2{
    grid-area: drei;
    display: flex;
    flex-direction: column;
}

.product4{
    grid-area: vier;
    padding-top: var(--m);
    padding-bottom: var(--m);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product5{
    grid-area: fünf; 
    img{
        width: 100%;
    }     
}

.text3{
    grid-area: sechs;
    display: flex;
    flex-direction: column;
    height: auto;
}

.text1, .text2, .text3{
    position: relative;
    background-color: white;
    border: var(--2xs) solid var(--beigegelb);
    .ctaButton{
        position: absolute;
        left: 0;
        bottom: 0;
        padding: var(--s);
        margin: var(--xs);
        background-color: black;
        font-size: larger;
        color: var(--beigegelb);
        border: none;
        border-radius: var(--xs);
    }
    .ctaButton:hover{
        background-color: var(--beigegelb);
        color: black;
        transition: 0.1s;
    }
}

.product1, .product4, .product5{
    background-color: white;
}








/*Alle Produkte*/










.productOverview{
    padding: var(--xl);
    h1{
        padding: var(--xs);
        font-size: var(--l);
        font-style: italic;
        color: rgb(109, 83, 12)
    }
    hr{
        border: 1px solid var(--beigegelb);
        background-color: var(--beigegelb);
        margin-bottom: var(--m);
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.productCard{
    position: relative;
    box-shadow: grey 0px 0px 50px;
    height: 100%;
    width: 320px;
    text-align: center;
    margin: var(--m);
    img{
        width: 100%;
        height: 75%;
        object-fit: cover;
    }
    h2, h3, h4{
        margin: var(--xs);
    }
    h4{
        position: absolute;
        left: 0;
        top: 0;
        color: rgb(206, 206, 206);
        font-family: Arial, Helvetica, sans-serif;
    }
    select{
        background-color: var(--beigegelb);
        padding: var(--xs);
        appearance: none;
        border: none;
        border-radius: var(--xs);
        font-size: var(--s);
    }
}

.productCard:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: grey 0px 0px 10px;
}

.product-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}