<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domfacetten - Produktübersicht</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/body.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../images/smallLogo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="mainNavBar">
            <ul class = "navList">
                <li><a href="index.html">Hauptseite</a></li>
                <li><a href="productPage.html">Alle Produkte</a></li>
                <li><a href="me.html" id="me">Mein Bereich</a></li>
                <li><span class="searchSymbol"><i class="fas fa-search"></i></span></li>
                <li><span class="userSymbol"><i class="fa-regular fa-user"></i></span></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="productOverview">
            <h1>Alle Produkte</h1>
            <hr>
            <div id="product-container"></div>
            <hr>
        </section>
    </main>

    <footer>
        <button class = "buyMeACookie" id = "createDivButton">
            <img src="./images/cookie-icon.svg" alt="Keks">
        </button>
        <nav>
            <ul class="footertext">
                <li><a href="about.html">Über uns</a></li>
                <li><a href="service.html">Service</a></li>
                <li><a href="rechtliches.html">Rechtliches</a></li>
                <li><a href="https://www.instagram.com/domfacetten/">Folgen Sie uns auf Instagram!</a></li>
            </ul>
        </nav>
    </footer>
    <script src = "./scripts/productPage.js"></script>
</body>
</html>
