.current-products{
    background-color: aqua;
    height: 300px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    .addPlus{
        font-size: 50px;
        color: rebeccapurple;
        cursor: pointer;
    }
}