.slideInRight{
    animation: slideInRight 0.5s forwards;
    animation-timeline: view();
}

/* @keyframes slideInRight {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
} */

.autoFadeIn {
  animation: autoFadeIn;
  animation-timeline: view();
}

@keyframes autoFadeIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}