*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

body{
    font-family: 'Rufina', serif;
    background-image: url(../images/DomMuster.png);
}

main{
    padding-top: var(--l);
    h2{
        padding: var(--s);
    }
    p{
        padding: var(--s);
    }
}

a{
    text-decoration: none;  
}

:root{
    --3xs: 3px;
    --2xs: 5px;
    --xs: 8px;
    --s: 13px;
    --m: 21px;
    --l: 34px;
    --xl: 55px;
    --xxl: 89px;
    --3xl: 144px;
    --4xl: 233px;

    --navBar: 25px;
    --beigegelb: #ffcf71;
    --complBeigegelb: rgb(109, 83, 12);
    --colognered: linear-gradient(90deg, #830000 0%, #ff5e00 100%);
}