main{
    padding: 0;
    margin: 0;
}

.index-welcome {
    height: 100vh;
    width: 100vw;
    background-color: var(--complBeigegelb);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    grid-template-areas:
        "cologne-text empty1 empty"
        "empty3 domfacetten empty4"
        "empty5 empty6 button-container";
}

.index-welcome > div {
    background-color: white;
}

.empty {
    background-color: white;
}
.cologne-text, .domfacetten{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

.cologne-text {
    grid-area: cologne-text;
    font-size: 10rem;
}
.domfacetten {
    grid-area: domfacetten;
    font-size: 10rem;
    text-align: center;
}
.button-container {
    grid-area: button-container;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-direction: column;
    .cta-button {
        a{
            color: black;
        }
        border-top: 2px solid var(--complBeigegelb);
        border-bottom: 2px solid var(--complBeigegelb);
        font-size: 2rem;
        padding: 1rem 2rem;
        cursor: pointer;
        text-align: center;
    }
    .cta-button:hover {
        background-color: var(--beigegelb);
        border: 2px solid var(--beigegelb);
        a{
            color: white;
        }
    }
}

@media (max-width: 768px) {
    .index-welcome {
        height: 100vh;
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1px;
        grid-template-areas:
            "cologne-text empty1"
            "domfacetten domfacetten"
            "empty3 button-container";
        ;
    }
    .cologne-text {
        grid-area: cologne-text;
        font-size: 1rem;
        height: 100%;
    }
    .domfacetten {
        grid-area: domfacetten;
        font-size: 1rem;
        text-align: center;
    }
    .button-container {
        grid-area: button-container;
        display: flex;
        justify-content: center;
        gap: 0.25rem;
        flex-direction: column;
        .cta-button {
            a{
                color: black;
            }
            border-top: 1px solid var(--complBeigegelb);
            border-bottom: 1px solid var(--complBeigegelb);
            font-size: 2rem;
            cursor: pointer;
            text-align: center;
        }
        .cta-button:hover {
            background-color: var(--beigegelb);
            border: 2px solid var(--beigegelb);
            a{
                color: white;
            }
        }
    }
}
      