footer{
    background-color: var(--complBeigegelb);
    nav{
        hr{
            border: 1px solid var(--beigegelb);
            width: 100%;
        }
    }
}

.footertext{
    padding: var(--m);
    list-style-type: none;
    padding-top: var(--l);
    padding-left: var(--xl); 
    li{
        padding: var(--s);
        margin-left: var(--m);
        a{
            text-decoration: none;
            color: white;
            font-size: var(--m);
        }
        i{
            color: white;
            padding-right: var(--m);
            font-size: var(--m);
        }
    }
}

.socials{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: row;
    color: white;
}