.mainNavBar{
    border-bottom: 2px solid var(--beigegelb);
    padding: var(--s);
    background-color: transparent;
    backdrop-filter: blur(30px);
    .navList{
        display: flex;
        align-items: center;
        list-style: none;
        a{
            position: relative;
            font-size: var(--m);
            text-decoration: none;
            color: black;
            
        }
        a::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px; /* Abstand der Linie vom Text */
            width: 0;
            height: 2px; /* Dicke der Linie */
            background-color: black; /* Farbe der Linie */
            transition: width 0.3s ease; /* Geschwindigkeit der Linie */
        }
        a:hover::after{
            width: 100%;
        }
        li{
            margin-right: var(--l);
        }
        
        li:nth-child(5){
            margin-left: auto;
        }
    }
    .inputSearchField{
        padding-left: var(--s);
    }
}

#searchBar{
    display: flex;
    position:absolute;
    right: 0;
    justify-content: center;
    padding: var(--m);
    input{
        padding: var(--s);
        font-size: var(--m);
        border: none;
        border-radius: var(--xs);
        background-color: var(--beigegelb);
        border-color: var(--beigegelb);
    }
}