.mainNavBar{
    position: fixed; /* oder sticky, je nach Bedarf */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Höher als image-container */
    border-bottom: 2px solid var(--beigegelb);
    padding: var(--s);
    background-color: transparent;
    backdrop-filter: blur(30px);
    .navList{
        display: flex;
        align-items: center;
        list-style: none;
        a{
            position: relative;
            font-size: var(--m);
            text-decoration: none;
            z-index: 1000;
        }
        a::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px; /* Abstand der Linie vom Text */
            width: 0;
            height: 2px; /* Dicke der Linie */
            background-color: var(--beigegelb); /* Farbe der Linie */
            transition: width 0.3s ease; /* Geschwindigkeit der Linie */
        }
        a:hover::after{
            width: 100%;
        }
        li{
            margin-right: var(--l);
        }
        
        li:nth-child(5){
            margin-left: auto;
        }
    }
    .inputSearchField{
        padding-left: var(--s);
    }
}

#searchBar{
    display: flex;
    position: absolute;
    right: 0;
    justify-content: center;
    padding: var(--m);
    z-index: 1000;
    input{
        padding: var(--s);
        font-size: var(--m);
        border: none;
        border-radius: var(--xs);
        background-color: var(--beigegelb);
        border-color: var(--beigegelb);
    }
}

.icon-container {
    position: relative; /* Positionierung für die Icons */
    z-index: 1000; /* Höher als die image-container */
}

.icon {
    position: absolute; /* Absolute Positionierung */
    width: 100%; /* Größe anpassen */
    height: 100%; /* Größe anpassen */
    transition: opacity 0.3s ease; /* Sanfter Übergang */
}

/* Standardzustand: kleines Icon sichtbar */
.icon-small {
    opacity: 1; /* Sichtbar */
}

.icon-huge {
    opacity: 0; /* Unsichtbar */
}

/* Media Query für größere Bildschirme */
@media (min-width: 768px) {
    .icon-small {
        opacity: 0; /* Unsichtbar */
    }

    .icon-large {
        opacity: 1; /* Sichtbar */
    }
}
