body{
    background-image: url(../images/braceletWrist.png);
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.wrapper{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    height: 100vh;
    background-color: white;
    width: max(40%, 600px);
    padding: 10px;
    h1{
        text-align: center;
        margin: 20px 0;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        input{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid var(--beigegelb);
            border-radius: 5px;
        }
        button{
            width: 50%;
            padding: 10px;
            margin: 10px;
            border: none;
            border-radius: var(--l);
            background-color: var(--beigegelb);
            color: white;
            cursor: pointer;
        }
        button:hover{
            background-color: var(--complBeigegelb);
            transition: 0.2s;
        }
        p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}