.news{
    color: white;
    display: inline-block;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
}

.newsContainer{
    width: 100%;
    overflow: hidden;
    background-color: red; /* Hintergrundfarbe für das gesamte Band */
    padding: var(--xs);
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
}

@keyframes ticker {
    0% {
        transform: translateX(450%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: var(--m);  
}

.productOverview{
    padding-top: var(--xl);
    h1{
        font-size: var(--l);
        padding-left: var(--xl);
    }
}

.productCard{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    margin: var(--m);
    background-color: aliceblue;
    border-radius: var(--2xs);
    img{
        border-radius: var(--2xs) var(--2xs) 0 0;
        max-width: 350px;
        max-height: 350px;
        object-fit: cover;
    }
    span{
        position: absolute;
        color: white;
        top: var(--s);
        right: var(--s);
    }
}










/*Einzelnes Produkt*/









.shownProduct{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--m);
    grid-template-areas: 
        "   foto   infos   "
    ;
}

.foto{
    grid-area: foto;
    width: 500px;
    height: 500px;
    img{
        object-fit: cover;
    }
}

.infos{
    grid-area: infos;
    width: 500px;
    height: 500px;
    background-color: green;
}