.news{
    color: white;
    display: inline-block;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
}

.newsContainer{
    width: 100%;
    overflow: hidden;
    background-color: red; /* Hintergrundfarbe für das gesamte Band */
    padding: var(--xs);
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
}

@keyframes ticker {
    0% {
        transform: translateX(450%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#product-container{
    display: flex;
    justify-content: center; /* Zentriert die Karten in der Mitte des Bildschirms */
    flex-wrap: wrap; /* Karten umbrechen lassen, wenn kein Platz mehr ist */
    gap: 10px; /* Abstand zwischen den Karten */
    padding: 20px; /* Etwas Pufferraum */
}

.productOverview{
    padding-top: var(--xl);
    h1{
        font-size: var(--l);
        padding-left: var(--xl);
    }
}

.productCard{
    position: relative;
    height: 100%;
    margin: var(--s);
    border-radius: var(--2xs);
    page-break-inside: avoid; /* Verhindert, dass eine Karte geteilt wird */
    display: inline-block;
    width: 350px; /* Breite auf 100% der Spalte setzen */
    background-color: aliceblue;
    border-radius: var(--2xs);
    break-inside: avoid;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Standard: Kein Schatten */
    transition: box-shadow 0.5s ease; /* Übergang für Schatten */
    img{
        border-radius: var(--2xs) var(--2xs) 0 0;
        max-width: 350px;
        max-height: 350px;
        object-fit: cover;
    }
    span{
        position: absolute;
        color: white;
        top: var(--s);
        right: var(--s);
    }
}

.productCard:hover{
    transition: 0.5s ease;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}









/*Einzelnes Produkt*/









.shownProduct{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--m);
    grid-template-areas: 
        "   foto   infos   "
    ;
}

.foto{
    grid-area: foto;
    width: 500px;
    height: 500px;
    img{
        object-fit: cover;
    }
}

.infos{
    grid-area: infos;
    width: 500px;
    height: 500px;
    background-color: green;
}