.singleProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: var(--xl);
  padding-left: var(--xxl);
  padding-right: var(--xxl);
  .image-wrapper{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    img{
        width: 70%;
        height: 100%;
        object-fit: cover;
    }
  }
  .productDetails{
    background-color: white;
    min-width: 35%;
    h1{
        padding-left: var(--s);
        font-size: var(--l);
        font-style: italic;
    }
    hr{
        color: var(--beigegelb);
        margin-top: var(--l);
        margin-bottom: var(--m);
    }
    p{
        font-size: var(--m);
    }
    .fakeSelect{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .spaceBetween{
      display: flex;
      justify-content: space-between;
      align-items: center;
      i{
        scale: 1.3;
      }
    }
    
  }
}

.finalPrice{
  font-size: var(--l);
  font-weight: bold;
  color: var(--beigegelb);
}